<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'reviews')}">

<body>

  <h2>Parent</h2>
  <form th:object="${review}" class="form-horizontal" id="add-review-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('First Name', 'author_first')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Last Name', 'author_last')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Doctor First Name', 'doctor_first')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Doctor Last Name', 'doctor_last')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Title of Review', 'title')}" />
      <input 
        th:replace="~{fragments/inputField :: input ('Review', 'review')}" />

    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${parent['new']} ? 'Add Review' : 'Update Review'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Review</button>
      </div>
    </div>
  </form>
</body>
</html>