<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'reviews')}">

<body>

  <h2>Reviews</h2>
  <form th:object="${reviewsList}" class="form-horizontal" id="add-review-form" method="post">
    <div class="form-group has-feedback">
      <input
      th:replace="~{fragments/inputField :: input ('Name', 'author')}" />
      <input
      th:replace="~{fragments/inputField :: input ('Doctor', 'doctor')}" />
      <input
      th:replace="~{fragments/inputField :: input ('Title', 'title')}" />
      <input 
      th:replace="~{fragments/inputField :: input ('Review', 'content')}" />

    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" type="submit" th:text="Add Review">Add Review</button>
      </div>
    </div>
  </form>
</body>
</html>