<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'reviews')}">

  <body>

    <h2>Reviews</h2>
    <table th:object="${reviews}" class="table table-striped">
    	<thead>
    	<tr>
    		<th style="width: 150px;">Title</th>
    		<th style="width: 150px;">Doctor</th>
    		<th style="width: 150px;">Reviewer</th>
    		<th style="width: 150px;">Review</th>
    	</tr>
    	</thead>
    	<tbody>
    		<tr th:each="reviews : ${selections}">
    		<td>
    			<a th:href="@{reviews/__${reviews.id}__}"
    			th:text="${reviews.title}"></a>
			</td>
			<td th:text="${reviews.doctor_first + ' ' + reviews.doctor_last"></td>
			<td th:text="${reviews.reviewer_first + ' ' + reviews.reviewer_last}"></td>
			<td th:text="${reviews.content}"/></td>
    		</tr>
    	</tbody>
    </table>
  </body>

</html>