<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'reviews')}">

<body>

  <h2>Reviews</h2>

  <p>This is a test let me know if this works.</p>

  <table id="Reviews" class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr th:each="reviews : ${reviews}">
        <td th:text="${reviews.title}"></td>
      </tr>-->
      <tr>Test</tr>
    </tbody>
  </table>
</body>

<footer> </footer>
</html>
